Package: ru.danpashin.RJTranslate
Name: RJTranslate
Version: CURRENT_PROJECT_VERSION
Description: Перевод твиков от ReJail
Priority: optional
Architecture: iphoneos-arm
Author: Даниил
Maintainer:  Даниил
dev: danpashin
Icon: file:///Applications/RJTranslate.app/Cydia_icon.png
Tag: purpose::extension, compatible::ios10, compatible::ios11
Section: Utilities
Installed-size: PACKAGE_SIZE
Depends: firmware (>= 10.0), mobilesubstrate (>= 0.9.5000)
