Package: ru.danpashin.RJTranslate
Name: RJTranslate [Dev]
Version: CURRENT_PROJECT_VERSION
Description: Самая прогрессивная утилита для перевода твиков от команды ReJail!
Priority: optional
Architecture: iphoneos-arm
Author: ReJail
Maintainer:  ReJail
dev: danpashin
Icon: file:///Applications/RJTranslate.app/Cydia_icon.png
Tag: purpose::extension, compatible::ios10, compatible::ios11
Section: Utilities
Installed-size: PACKAGE_SIZE
Depends: firmware (>= 10.0), mobilesubstrate (>= 0.9.5000)
